{% extends 'admin/app.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Все товары</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div style="display: flex; flex-direction: column">
                {% for product in products %}
                <div style="display: flex; flex-direction: row; width: 800px;justify-content: space-between; box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.26); padding: 20px;height: 120px; border-radius: 5px">
                    <a href="product.html"><img src="http://localhost:8000/assets/images/{{ product.imagePath }}" width="60px"></a>
                    <div>id:{{ product.id }}</div>
                    <div style="width: 200px">{{ product.englishName }} / {{ product.rusName }} </div>
                    <a href="/admin/products/edit/{{ product.id }}">Редактировать</a>
                    <form method="post" action="/admin/products/delete/{{ product.id }}"><button>Удалить</button></form>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- /.content -->
    </div>
 {% endblock %}
