{% extends 'app.twig' %}

{% block content %}
    <div id="main">
        <div id="home_head" style="height: auto">

            <div id="product_info" style="width: 1400px;border: none;margin-left:200px; display: flex; flex-direction: column;align-items: flex-start;">
                <div style="margin-bottom: 30px;font-size: 120%;">Корзина</div>
                <div style="display: flex ;">
                    <div style="display: flex; flex-direction: column">
                        {% if products %}
                            {% for product in products %}
                        <div style="display: flex; flex-direction: row; width: 800px;justify-content: space-between; box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.26); padding: 20px;height: 120px; border-radius: 5px">
                            <a href="http://localhost:8000/catalog/{{ product.url }}"><img src="http://localhost:8000/assets/images/{{ product.imagePath }}" width="80"></a>
                            <div style="max-width: 250px; min-width: 250px">{{ product.englishName }}</div>
                            <div>{{ product.cost }}Р</div>
                            <form action="/cart/delete/{{ product.id }}" method="get"><button class="cart_trash" type="submit" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="15" height="30"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="red" d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg></button><input hidden="hidden" id="{{ product.id }}"></form>
                        </div>
                            {% endfor %}
                        {% else %}
                            <div style="display: flex; flex-direction: row; width: 800px;justify-content: space-between; box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.26); padding: 20px;height: 120px; border-radius: 5px">
                                <div style="max-width: 250px">Ваша корзина пуста</div>
                            </div>
                        {% endif %}
                    </div>
                    <div style="display: flex; width: 400px; margin-left: 30px; height: 350px">
                        {% if products %}
                        <div id="product_price">
                            <div style="display: flex; flex-wrap: wrap">После оформления заказа вы получите письмо от нашего менеджера на вашу почту с инструкцией по оплате и доставке товара</div>
                            <div style="border-top: 1px solid;font-size: 90%; padding-top: 10px">Товаров выбрано: {{ products | length }}</div>
                            <div style="display: flex;justify-content: space-between;"><div style=" font-size: 140%;margin-bottom: 8px">На сумму:
                                    <strong>{% set totalPrice = products|reduce((carry, item) => carry + item.cost, 0) %}
                                        {{ totalPrice}}₽</strong>
                                </div></div>
                            <form method="post" action="/order">
                            <button id="add_to_cart" style="background-color: orange; width: 240px; height: 35px; padding-top: 3px;border-radius: 5px;margin-bottom: 10px; font-size: 110%"><div style="margin-bottom: 10px;">Оформить заказ</div></button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}